$max-width-desktop: 93.75rem;

$color-neutral: #333;
$color-muted: #777;
$color-disabled: #d8d8d8;

$color-dark: black;
$color-dark-lighten: #4c4c4c;

$color-light: white;
$color-light-darken: #f0f0f0;

$color-primary: #00754a;
$color-primary-lighten: #148159;

$color-secondary: #1e3932;
$color-secondary-lighten: #39514b;

$body-font-family: Roboto, sans-serif;
$heading-font-family: Lunasima, sans-serif;
