@import url("./learn-more-modal.css");

.endless-extras-section {
  padding: 4rem 1.5rem;
  background-color: white;
  max-width: 93.75rem;
  text-align: center;
}

.endless-extras-section__description {
  display: inline-block;
  text-align: center;
  margin-bottom: 2rem;
  max-width: 40rem;
}

.endless-extras-section__extras-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.extras-item {
  display: grid;
  text-align: left;
  grid-template:
    "image heading    "
    "image description"
    "image learn-more " / 7rem 1fr;
  gap: 1rem;
}

.extras-item__heading {
  grid-area: heading;
  margin: 0;
}

.extras-item__description {
  grid-area: description;
}

.extras-item_learn-more-image-button {
  grid-area: image;
  display: grid;
  align-items: start;
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

.extras-item_image {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.extras-item__learn-more-button {
  grid-area: learn-more;
  cursor: pointer;
  max-width: max-content;
  outline-offset: 4px;
}

.extras-item__learn-more-button:hover {
  text-decoration: none;
}

li:nth-of-type(1) .extras-item__learn-more-button,
li:nth-of-type(1) .extras-item__learn-more-button::before {
  animation-delay: 0s;
}

li:nth-of-type(2) .extras-item__learn-more-button,
li:nth-of-type(2) .extras-item__learn-more-button::before {
  animation-delay: 0.4s;
}

li:nth-of-type(3) .extras-item__learn-more-button,
li:nth-of-type(3) .extras-item__learn-more-button::before {
  animation-delay: 0.2s;
}

@media (min-width: 50rem) {
  .endless-extras-section__extras-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .endless-extras-section__description {
    margin-bottom: 3.5rem;
  }

  .extras-item {
    grid-template:
      "image"
      "heading"
      "description"
      "learn-more";
    justify-items: center;
    gap: 1.5rem;
  }

  .extras-item__description {
    text-align: center;
  }

  .extras-item_image {
    max-width: 8rem;
  }

  .extras-item__learn-more-button {
    font-size: 1rem;
  }
}
