.page-footer-wrapper {
  padding: 1.5rem 0 3rem;
}

.page-footer {
  position: relative;
  width: 100%;
  max-width: 93.75rem;
  background-color: white;
  z-index: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.875rem;
}

.page-footer__links-list-wrapper {
  overflow: hidden;
  padding: 0 1rem;
}

.page-footer__links-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  background-color: #fff;
  pointer-events: none;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

.page-footer__links-list-expand-button-label {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 1.125rem;
  cursor: pointer;
  background-color: #fff;
  z-index: 1;
}

.page-footer__links-list-wrapper + .page-footer__links-list-wrapper {
  margin-top: 1rem;
}

.page-footer__links-list-expand-button-label::after {
  content: "";
  width: 2em;
  height: 2em;
  margin-left: auto;
  background-color: #444;
  mask-image: url("./icons/arrow-down.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
  transform: rotate(0deg);
  transition: transform 0.2s;
}

.page-footer__links-list-expand-button:checked + .page-footer__links-list-expand-button-label::after {
  transform: rotate(180deg);
}

.page-footer__links-list-wrapper:focus-within {
  outline: 2px solid black;
}

.page-footer__links-list:focus-within,
.page-footer__links-list-expand-button:checked ~ .page-footer__links-list {
  max-height: 100vh;
  pointer-events: all;
}

.page-footer__links-list-expand-button-label::before {
  content: "";
  order: 1;
  margin-left: -2.5em;
  width: 3em;
  height: 3em;
  background-color: #eee;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 0.2s, transform 0.2s;
}

.page-footer__links-list-expand-button-label:hover::before {
  opacity: 1;
  transform: scale(1);
}

.page-footer__links-list-expand-button-label:hover {
  text-decoration: underline;
}

.page-footer__link-item {
  cursor: pointer;
  position: relative;
}

.page-footer__link-item a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.875rem;
  color: #888;
}

.page-footer__link-item:hover a {
  color: #444;
}

@media (min-width: 50rem) {
  .page-footer__links-list-wrapper {
    overflow: visible;
  }

  .page-footer__links-list-wrapper + .page-footer__links-list-wrapper {
    margin: 0;
  }

  .page-footer__links-list {
    max-height: unset;
    pointer-events: all;
  }

  .page-footer__links-list-expand-button-label {
    cursor: auto;
    margin-bottom: 1.5rem;
  }

  .page-footer__links-list-expand-button-label:hover {
    text-decoration: none;
  }

  .page-footer__links-list-expand-button-label::after {
    display: none;
  }

  .page-footer__links-list-expand-button-label::before {
    display: none;
  }

  .page-footer__links-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.page-footer__separator {
  margin: 2rem 1rem;
  border: none;
  height: 2px;
  background-color: #eee;
}

.page-footer__social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 0 1rem 2rem;
}

.page-footer__social-link-item {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: 100%;
}

.page-footer__social-link-item::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #eee;
  z-index: -1;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.2s, transform 0.2s;
}

.page-footer__social-link-item:hover::before {
  opacity: 1;
  transform: scale(1);
}

.page-footer__social-link-item_spotify {
  background-image: url("./icons/socials/spotify.svg");
}

.page-footer__social-link-item_facebook {
  background-image: url("./icons/socials/facebook.svg");
}

.page-footer__social-link-item_pinterest {
  background-image: url("./icons/socials/pinterest.svg");
}

.page-footer__social-link-item_instagram {
  background-image: url("./icons/socials/instagram.svg");
}

.page-footer__social-link-item_youtube {
  background-image: url("./icons/socials/youtube.svg");
}

.page-footer__social-link-item_twitter {
  background-image: url("./icons/socials/twitter.svg");
}

.page-footer__other-links-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.page-footer__other-link {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  margin: 0 1rem;
}

.page-footer__other-link:hover {
  text-decoration: underline;
}

.page-footer__other-link + .page-footer__other-link {
  margin-top: 1.5rem;
}

.page-footer__copyright {
  margin: 2rem 1rem 0;
  font-size: 0.75rem;
  color: #888;
}

@media (min-width: 50rem) {
  .page-footer__other-link {
    margin: 0;
  }

  .page-footer__other-link-item {
    display: flex;
    align-items: center;
  }

  .page-footer__other-link-item:not(.page-footer__other-link-item:last-of-type)::after {
    content: "|";
    margin-left: 0.75rem;
    font-size: 1.25rem;
  }

  .page-footer__other-links-list {
    flex-direction: row;
    gap: 0.75rem;
    margin-left: 1rem;
  }
}
