.button-begging-for-attention {
  position: relative;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.75em;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #00754a;
  color: white;
  cursor: pointer;
  transform: none;
  transition: background-color 0.15s ease-out;
  animation: beg-for-attention 3s ease-in-out infinite;
}

@media (min-width: 50rem) {
  .button-begging-for-attention {
    font-size: 0.9rem;
  }
}

.button-begging-for-attention:hover {
  background-color: #148159;
  animation-play-state: paused;
}

@keyframes beg-for-attention {
  0% {
    transform: none;
  }

  17.5% {
    transform: scale(0.95) rotate(-3deg);
  }

  22.5% {
    transform: scale(0.95) rotate(-3deg);
  }

  27.5% {
    transform: scale(1.05) rotate(8deg);
  }

  32.5% {
    transform: scale(1.05) rotate(-8deg);
  }

  37.5% {
    transform: scale(1.05) rotate(8deg);
  }

  42.5% {
    transform: none;
  }
}
