.cookies-pop-up {
  position: fixed;
  left: 50%;
  border-radius: 0.5rem;
  transform: translateX(-50%);
  width: min(80vw, 25rem);
  padding: 1.5rem 0.75rem;
  top: 2rem;
  z-index: 5;
  background-color: white;
  box-shadow: 0 0.25rem 2.5rem rgba(0 0 0 / 45%);
  text-align: center;
  transition: opacity 0.2s ease-out, visibility 0s;
  transition-delay: 0s, 0.2s;
}

.cookies-pop-up_hidden {
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 50rem) {
  .cookies-pop-up {
    top: 8rem;
    width: clamp(12.5rem, 50vw, 25rem);
    padding: 3rem 1.5rem;
  }
}

@media (max-height: 18rem) and (max-width: 50rem) {
  .cookies-pop-up {
    height: 90vh;
    top: 5vh;
    overflow-y: auto;
  }
}

@media (max-height: 27rem) and (min-width: 50rem) {
  .cookies-pop-up {
    max-height: 90vh;
    top: 5vh;
    overflow-y: auto;
  }
}

.cookies-pop-up__heading {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 1.25em;
}

.cookies-pop-up__description {
  text-align: center;
  margin-bottom: 2.5em;
  font-size: 0.875rem;
}

.cookies-pop-up__change-settings-button {
  background-color: transparent;
  text-decoration: none;
  color: #00754a;
  margin-right: 0.5rem;
  white-space: nowrap;
  line-height: 3;
}

.cookies-pop-up__change-settings-button:hover {
  text-decoration: underline;
}
