* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (min-width: 50rem) {
  body {
    font-size: 1.25rem;
  }
}

ul {
  list-style-type: none;
}

a.link {
  color: black;
  text-decoration: underline;
}

a.link.primary {
  color: #00754a;
}

a.link[href^="https://"]::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.5ch;
  vertical-align: text-bottom;
  background-color: black;
  mask-image: url("../img/icons/external-link.svg");
  mask-position: center;
  mask-repeat: no-repeat;
}

a.link[href^="https://"].primary::after {
  background-color: #006241;
}

a.link:hover {
  text-decoration: none;
}

sup {
  font-size: 0.625em;
}

p.centered {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

h3 {
  margin-bottom: 1.25em;
}

@media (min-width: 50rem) {
  h2 {
    font-size: 2rem;
  }
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.button {
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  border-radius: 1.5em;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  transition: background-color 0.2s, transform 0.1s;
  cursor: pointer;
}

.button:active {
  transform: scale(0.9);
}

.button.light {
  border-color: #333;
  color: #333;
  background-color: white;
}

.button.light:hover {
  background-color: #f0f0f0;
}

.button.primary {
  background-color: #00754a;
  border-color: #00754a;
  color: white;
}

.button.primary:hover {
  background-color: #148159;
  border-color: #148159;
}

.button.accent {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.button.accent:hover {
  background-color: #4c4c4c;
  border-color: #4c4c4c;
}

@media (min-width: 50rem) {
  .button {
    font-size: 0.9rem;
  }
}

.container {
  display: grid;
  place-items: center;
}
