* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a.link {
  color: black;
  text-decoration: underline;
}

a.link.primary {
  color: #00a862;
}

a.link:hover {
  text-decoration: none;
}

sup {
  font-size: 0.625em;
}

p.centered {
  text-align: center;
}

h2 {
  text-align: center;
  font-family:
    "Gill Sans",
    "Gill Sans MT",
    Calibri,
    "Trebuchet MS",
    sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

a.button {
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  border-radius: 1.5em;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.2s;
  transition: transform 0.1s;
}

a.button:active {
  transform: scale(0.9);
}

a.button.light {
  border-color: #333;
  color: #333;
  background-color: white;
}

a.button.light:hover {
  background-color: #f0f0f0;
}

a.button.primary {
  background-color: #00754a;
  border-color: #00754a;
  color: white;
}

a.button.primary:hover {
  background-color: #148159;
  border-color: #148159;
}

a.button.accent {
  background-color: black;
  color: white;
}

a.button.accent:hover {
  background-color: #4c4c4c;
  border-color: #4c4c4c;
}
