.page-nav-darken {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: transparent;
  transition: background-color 0.2s;
  pointer-events: none;
  overflow-x: hidden;
}

/* page navigation */

.page-nav,
.menu-sub-nav,
.nav-list__item button {
  font-family: Poppins, Verdana, sans-serif;
  font-size: 1.125rem;
  color: #555;
}

.page-nav,
.menu-sub-nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background-color: white;
}

.page-nav {
  transform: translateX(100%);
  transition: transform 0.2s, opacity 0s;
  transition-delay: 0s, 0.2s;
  pointer-events: all;
  opacity: 0;
}

.menu-sub-nav {
  transform: translateX(100%);
  transition: transform 0.2s;
  pointer-events: all;
}

.page-nav-darken_toggled {
  background-color: rgba(0 0 0 / 55%);
}

.page-nav-darken_toggled .page-nav {
  transform: none;
  transition: transform 0.2s, opacity 0s;
  transition-delay: 0s, 0s;
  opacity: 1;
}

.menu-sub-nav_toggled {
  transform: none;
}

@media (min-width: 50rem) {
  .page-nav-darken {
    position: static;
    width: auto;
    height: auto;
    flex: 1;
    pointer-events: none;
    background-color: transparent;
  }

  .menu-sub-nav {
    display: none;
  }

  .page-nav {
    flex: 1;
    width: unset;
    position: static;
    transform: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nav-list {
    display: flex;
    height: 100%;
    gap: 1rem;
    font-family: Oswald, Impact, Arial, sans-serif;
  }

  .nav-list,
  .nav-list button {
    font-family: "Source Sans Pro", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125rem;
  }
}

/* nav list item */

.nav-list__item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
}

.nav-list__item a {
  text-decoration: none;
  color: #555;
}

.nav-list__item :is(a, button) {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 1rem 2rem;
}

.nav-list__item:first-of-type :is(a, button) {
  padding-top: 2rem;
}

.nav-list__item:last-of-type :is(a, button) {
  padding-bottom: 2rem;
}

.nav-list__item_expandable :is(a, button)::after {
  content: "";
  position: absolute;
  right: 2rem;
  width: 1.25em;
  height: 1.25em;
  background-color: #555;
  mask-image: url("../img/icons/arrow-right.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
}

.nav-list__item:hover :is(a, button) {
  text-decoration: underline;
}

@media (min-width: 50rem) {
  .nav-list__item {
    display: grid;
    height: 100%;
    place-items: center;
    position: relative;
    padding: 0 0.5rem;
  }

  .nav-list__item :is(a, button) {
    color: rgba(0 0 0 / 80%);
    padding: 2rem 0;
    transition: color 0.2s;
  }

  .nav-list__item:hover :is(a, button) {
    color: #00754a;
  }

  .nav-list__item :is(a, button)::after {
    content: unset;
  }

  .nav-list__item:first-of-type :is(a, button) {
    padding: 0;
  }

  .nav-list__item:last-of-type :is(a, button) {
    padding: 0;
  }

  .nav-list__item_selected::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.375rem;
    background-color: #00754a;
  }
}

/* separator */

.page-nav__separator {
  margin: 0 2rem 2rem;
  border: none;
  background-color: rgba(0 0 0 / 15%);
  height: 2px;
}

.page-nav__buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.page-nav__find-store {
  display: inline-block;
  padding: 1rem 0;
  margin-left: 2rem;
  text-decoration: none;
  color: black;
  font-size: 0.875rem;
  font-weight: 700;
  transition: color 0.2s;
}

.page-nav__find-store::before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
  background-color: black;
  vertical-align: top;
  transition: background-color 0.2s;
  mask-image: url("../img/icons/map-pin.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
}

.page-nav__find-store:hover {
  color: #00754a;
}

.page-nav__find-store:hover::before {
  content: "";
  background-color: #00754a;
}

@media (min-width: 50rem) {
  .page-nav {
    opacity: 0;
    animation: 0s ease-out nav-appearance forwards;
  }

  .page-nav__separator {
    display: none;
  }

  .page-nav__buttons {
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    gap: 1rem;
    order: 1;
    margin-right: 1rem;
  }

  .page-nav__find-store {
    margin: 0 2rem 0 auto;
  }
}

@keyframes nav-appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* menu sub nav */

.menu-sub-nav__go-back-button {
  display: block;
  width: 100%;
  border: none;
  padding: 1rem;
  background-color: #f9f9f9;
  cursor: pointer;
  font-family: Poppins, Verdana, sans-serif;
  font-size: 1.25rem;
  color: #555;
}

.menu-sub-nav__go-back-button::before {
  content: "";
  position: absolute;
  left: 2rem;
  width: 1.25em;
  height: 1.25em;
  background-color: #555;
  mask-image: url("../img/icons/arrow-left.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
}

.menu-sub-nav__go-back-button:hover {
  text-decoration: underline;
}
