.promo {
  background: url("../img/hero-mobile.jpg");
  background-color: #d0eae4;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: bottom;
  display: grid;
  place-items: center;
}

.promo__content {
  min-height: 37.5rem;
  width: 100%;
  max-width: 93.75rem;
  padding-top: 2rem;
  text-align: center;
}

.promo__big-heading {
  margin-bottom: 0.75em;
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.promo__smaller-heading {
  text-align: center;
  margin-bottom: 2rem;
}

.promo__button {
  display: inline-block;
  margin-bottom: 1.25rem;
}

@media (min-width: 50rem) {
  .promo {
    background: url("../img/hero-desktop.png") 50% / auto 100% no-repeat #d0eae4;
    font-size: 1rem;
  }

  .promo__content {
    min-height: unset;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    text-align: left;
  }

  .promo__content-wrapper {
    width: 100%;
    max-width: 93.75rem;
    position: relative;
  }

  /* an aspect ratio box hack https://css-tricks.com/aspect-ratio-boxes */
  .promo__content-wrapper::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 45%;
  }

  .promo__content-wrapper::after {
    content: "";
    display: table;
    clear: both;
  }

  .promo__big-heading {
    text-align: left;
    font-size: 2.25rem;
  }

  .promo__smaller-heading {
    text-align: left;
    font-size: 1.25rem;
  }
}
