@import url("./page-nav.css");
@import url("./promo.css");
@import url("./getting-started.css");
@import url("./star-prices-section.css");
@import url("./endless-extras-section.css");
@import url("./earn-stars-section.css");
@import url("./star-code-section.css");
@import url("./rewards-page-footer.css");

.page-header-top-bar {
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  box-shadow: 0 0 4px rgba(0 0 0 / 25%);
  z-index: 4;
}

.page-header-top-bar__logo {
  width: 3.5rem;
  margin: 0.5rem;
  height: auto;
}

/* Button with the burger icon */

.page-header-top-bar__menu-button {
  box-sizing: content-box;
  padding: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger-icon {
  fill: #777;
  overflow: visible;
}

.burger-icon__circle {
  fill: #ddd;
}

.page-header-top-bar__menu-button .burger-icon__circle {
  transform: scale(0.75);
  fill-opacity: 0;
  transform-origin: center;
  transition-property: transform fill-opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.page-header-top-bar__menu-button:hover .burger-icon__circle {
  transform: scale(1.75);
  fill-opacity: 1;
}

.page-header-top-bar__menu-button .burger-icon__top {
  transform-origin: 50px 20px;
}

.page-header-top-bar__menu-button .burger-icon__middle {
  transform-origin: 50px 50px;
}

.page-header-top-bar__menu-button .burger-icon__bottom {
  transform-origin: 50px 80px;
}

@media (min-width: 50rem) {
  .page-header-top-bar {
    box-shadow: none;
    padding: 0;
  }

  .page-header-top-bar__logo {
    transform: none;
  }

  .page-header-top-bar__menu-button {
    display: none;
    transition: none;
  }

  .page-header {
    display: flex;
    gap: 1rem;
  }
}

/* "Join in the app" sticky */

.page-main {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.875rem;
  pointer-events: all;
}

.join-app-sticky {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  color: white;
  background-color: #1e3932;
  box-shadow: rgba(0 0 0 / 25%) 0 4px 4px;
  z-index: 2;
}

.join-app-sticky__heading {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.join-app__join-button {
  border: 1px solid white;
  padding: 0.5rem 0.75rem;
  border-radius: 1.25em;
  font-weight: 700;
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
  background-color: #1e3932;
  cursor: pointer;
}

.join-app__join-button:hover {
  background-color: #39514b;
}

.terms-of-use-section {
  padding: 2rem 1rem 4rem;
  font-size: 0.75rem;
  background-color: #f9f9f9;
  color: #666;
}

.terms-of-use-section p {
  margin-bottom: 0.5rem;
}

.terms-of-use-section h3 {
  color: #999;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 2rem;
}
