.star-code-section {
  padding: 3rem 1rem;
  background-color: white;
}

.star-code-section__heading {
  text-align: left;
}

.star-code-section__description {
  margin-bottom: 2rem;
}

.star-code-section__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.star-code-section__code-input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1.125rem;
  border-radius: 0.5rem;
  border: 2px solid #999;
}

.star-code-section__code-input:focus {
  outline: 1px solid #00754a;
  border: 2px solid #00754a;
}

.star-code-section__code-submit {
  align-self: end;
}

.star-code-section__additional-info {
  font-size: 0.75rem;
}

.questions-section {
  padding: 0 1rem 4rem 1rem;
}

.questions-section__heading {
  text-align: left;
}
